
:root {
	--text-color:#333;
	--orange: #ff7f50;
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	font-family: 'Source Sans 3 Variable', sans-serif;
	color : var( --text-color);
}

.app{
	padding: 2rem 1rem;
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--orange);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.projects-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1.5rem;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.title-content{
	padding: 2rem 0;
}